@font-face {
  font-family: "Humanist 777";
  src: url("./assets/fonts/Humanist-777.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body html {
  background-image: url(/images/background.png);
  width: 100%;
  height: 100%;
}

/* navbar */
.header {
  position: fixed;
  top: 0;
  background-image: url(/images/background.png);
  width: 100%;
  align-items: center;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 1.5rem 0.5rem;
  border-bottom: 1px solid black;
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.header .navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.header img {
  width: 300px;
  margin: -8.5rem 0rem;
}

.header ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  position: relative;
  justify-content: end;
}

.header ul li a {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s ease;
}

.header ul li a:hover {
  color: #0ca532;
  border: none;
}

.header ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #0ca532;
  transition: all 0.4s ease;
}

.header ul li a:hover::before {
  width: 100%;
  left: 0;
}

.header .menu-icon {
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 24px;
  z-index: 1500;
  position: relative;
  margin: 0;
  padding: 0;
}

.menu-icon svg {
  pointer-events: none;
}

.header .menu-icon.open {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

.header .nav-menu {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

/* Home */
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.beranda {
  max-width: 100%;
  margin: 0;
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.beranda img {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.beranda h2 {
  z-index: 2;
  font-family: "Humanist 777";
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  margin: 18rem 0 0;
  text-align: center;
  font-size: 5rem;
  color: #fff;
}

.beranda a {
  color: black;
  text-decoration: none;
  padding: 1rem 2rem;
}

.beranda .buttonBeranda {
  font-size: 1rem;
  padding: 1rem 2rem;
  margin-top: 3rem;
  justify-content: center;
  margin: 3rem auto 0;
  border-radius: 100px;
  cursor: pointer;
  background-color: #a0c0a8;
  border-style: none;
  border: 1.5px solid black;
  transition: background-color 0.3s ease;
  border: none;
  list-style-type: none;
}

.beranda .buttonBeranda:hover {
  background-color: #d9e6dc;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.carousel-slide {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.slick-prev,
.slick-next {
  z-index: 1;
  width: 5rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
}

.slick-prev {
  left: 2rem !important;
}

.slick-next {
  right: 2rem !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 2rem !important;
  color: white !important;
}

/* about */
.about {
  text-align: justify;
  background-color: #fff;
  padding: 7rem 2rem 5rem;
  position: relative;
  overflow: hidden;
}

.about h3 {
  text-align: center;
  font-size: 2.5rem;
  margin: 4rem auto 2rem;
}

.fade-in {
  opacity: 0;
  animation: fadeInEffect 2s forwards;
  animation-delay: 1s;
}

@keyframes fadeInEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  transform: translateY(20px);
}

.fade-in {
  animation: slideUp 2s forwards;
  animation-delay: 1s;
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* container */
section {
  background-color: #fff;
}
.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding: 5rem 0;
  border-top: 1px solid;
  width: 100%;
}

.container img {
  width: 350px;
  height: auto;
  border: 1.5px solid black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
}

.container .imageContainer:hover img {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.container .imageContainer {
  position: relative;
  width: 350px;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  object-fit: cover;
}

.container .imageContainer .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .imageContainer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 2rem;
}

.container .imageContainer:hover .overlay {
  opacity: 1;
}

/* contact */
.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 12rem;
  gap: 1rem;
  align-items: center;
}

.contact ul li a {
  text-decoration: none;
  color: black;
}

.contact p a {
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.contact p a:hover {
  color: #0ca532;
}

/* footer */
footer {
  border-top: 1px solid black;
  padding: 1.5rem 0;
  text-align: center;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  background-image: url(/images/background.png);
}

footer p a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

footer p a:hover {
  color: #0ca532;
}

footer .footerAll {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
  padding-top: 5rem;
}

footer ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

footer ul a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
  cursor: pointer;
}

footer ul a:hover {
  color: #0ca532;
  border: none;
}

footer .menu2 {
  display: flex;
  flex-direction: column;
  text-align: left;
}

footer .menu2 ul {
  display: flex;
  flex-direction: column;
}

footer .menu2 ul li {
  text-align: left;
}

footer .menu2 ul li a {
  font-size: 1.2rem;
  font-weight: bold;
}

footer .sosialMedia {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

footer .sosialMedia h3 {
  text-align: center;
  padding-bottom: 1rem;
}

footer .sosialMedia ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  justify-content: center;
}

footer .sosialMedia a {
  text-decoration: none;
  color: black;
}

footer .sosialMedia i {
  font-size: 0.8rem;
  border: 1px solid black;
  border-radius: 100%;
  padding: 0.5rem;
}

footer .formFooter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer .formAll {
  display: flex;
  flex-direction: column;
  text-align: left;
}

footer .formFooter input {
  width: 100%;
  text-decoration: dashed;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  font-size: 0.8rem;
  text-align: left;
  color: black;
}

footer .formFooter button {
  width: 6rem;
  text-decoration: dashed;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  font-size: 0.8rem;
  text-align: left;
  transition: color 0.3s ease;
}

footer .formFooter button:hover {
  color: #0ca532;
}

/* images Gallery */
.gambarPertama {
  width: 300px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* modul Fullscreen */
.modulFullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Tombol Sebelumnya */
.buttonLeft {
  position: absolute;
  left: 20px;
  font-size: 5rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

/* Tombol Berikutnya */
.buttonRight {
  position: absolute;
  right: 20px;
  font-size: 5rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

/* Gambar Fullscreen */
.gambarFullscreen {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

/* Development */
.appDevelopment {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.appDevelopment .developmentBeranda {
  background-image: url('images/home1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  margin-top: 6rem;
}

.appDevelopment .developmentBeranda h1 {
  text-align: center;
  padding: 8rem 0;
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid black;
}

.appDevelopment .containerDev {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding-top: 50rem;
  padding-bottom: 50rem;
  overflow-y: auto;
}

.modal-content {
  background: white;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.modal-content img {
  width: 100%;
  height: 400px;
}

.modal-content .logo {
  width: 300px;
  height: 300px;
  top: 19rem;
  align-items: center;
  position: absolute;
}

.modal-content .deskripsi {
  padding: 7rem 2rem 0;
  font-weight: 300;
}

.modal-content span {
  font-weight: bold;
}

.modal-close {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 40px;
  background: none;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  color: black;
  padding: 0.6rem;
}

.modal-close:hover {
  color: #a0c0a8;
}

.modal-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: #eaeaea;
  padding: 1rem;
}

.modal-feature {
  text-align: center;
}

.feature-icon {
  font-size: 30px;
}

.feature-label {
  font-weight: bold;
  margin: 5px 0;
  font-size: 0.8rem;
}

.feature-description {
  color: gray;
  font-size: 0.5rem;
}

/* Kartu */
.card {
  position: relative;
  width: 300px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  max-height: 300px;
  height: 300px;
}

.card-info {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  padding: 0.5rem 1rem 0;
}

.card-info h3 {
  font-size: 1.2rem;
}

.card-info p {
  font-size: 0.8rem;
  font-weight: 300;
}

/* Slider */
.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 40px;
}

.slider img {
  width: 80%;
  border-radius: 10px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.slider-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.location {
  display: flex;
  padding: 3rem 2rem;
  text-align: left;
  position: relative;
  background-color: #a0c0a8;
}

.location h3 {
  font-size: 1.3rem;
}

.location p {
  font-size: 0.8rem;
}

.location .info {
  position: relative;
  display: flex;
  flex-direction: column;
}

.location .info span {
  font-weight: bold;
}

.location img {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 2rem;
  top: 0;
}

/* Contractor */
.appContractor {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.contractorBeranda {
  margin-top: 6rem;
}

.contractorBeranda h1 {
  text-align: center;
  padding: 10rem 0;
  font-size: 4rem;
}

.appContractor .containerContractor {
  display: flex;
  display: none;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 2rem;
  background-color: #fff;
}
.contractorApp .containerContractor .itemleft,
.itemright {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.contractorApp .containerContractor .itemleft {
  flex-direction: row;
}

.contractorApp .containerContractor .itemright {
  flex-direction: row-reverse;
}

.contractorApp .containerContractor img {
  width: 400px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contractorApp .containerContractor img:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

/* partner */
.partnerApp {
  width: 100%;
}

.partnerBeranda {
  position: relative;
}

.partnerBeranda h1 {
  font-size: 3rem;
  padding: 12rem 5rem 0;
  text-align: center;
}

.partnerBeranda .logoEdge {
  width: 300px;
  position: absolute;
  right: 1rem;
  margin-top: -5rem;
}

.partnerBeranda .cardAll {
  margin: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0;
  overflow: hidden;
  position: relative;
}

.partnerBeranda .cardPartner {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.partnerBeranda .cardPartner1 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.partnerBeranda .cardPartnerContainer {
  border: 1px solid black;
  display: flex;
  position: relative;
  align-items: center;
  background-color: #a0c0a8;
  border-radius: 0 20px 20px 0;
  height: 15rem;
  width: 35rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.partnerBeranda .cardPartner .cardPartnerContainer:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.partnerBeranda .cardPartner img {
  width: 300px;
  margin-left: 1rem;
}

.partnerBeranda h2 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: start;
  padding: 0 1rem;
}

.partnerBeranda span {
  font-weight: 300;
}

.partnerBeranda .cardPartner1 {
  margin-top: 5rem;
}

.partnerBeranda .cardPartner1 .cardPartnerContainer {
  border-radius: 20px 0 0 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.partnerBeranda .cardPartner1 .cardPartnerContainer:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.partnerBeranda .cardPartner1 img {
  width: 200px;
  margin: 0 2rem;
}

/* Media Query */
@media only screen and (max-width: 768px) {
  body {
    font-size: 75%;
  }

  .header {
    padding: 1rem 0.5rem;
  }

  .header .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    box-shadow: 0px 4px 6px #0000001a;
    transform: translateY(0px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    border-top: 1px solid black;
  }

  .header .nav-menu.active {
    top: 100%;
    transform: translateY(0);
    opacity: 1;
  }

  .header .menu-icon {
    display: flex;
  }

  .header ul li {
    font-size: 0.8rem;
  }

  /* Development */
  .slider{
    margin: 20px 0;
  }

  .slider img{
    width: 95%;
  }

  /* Partner */
  .partnerBeranda h1 {
    font-size: 2.5rem;
  }

  .partnerBeranda .logoEdge {
    margin-top: -6rem;
    width: 250px;
  }

  .partnerBeranda .cardAll {
    justify-content: none;
    flex-direction: column;
    margin: 5rem 0;
  }

  .partnerBeranda .cardPartner {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .partnerBeranda .cardPartner1 {
    margin-top: 3rem;
  }

  .partnerBeranda .cardPartnerContainer {
    width: 30rem;
  }

  .partnerBeranda .cardPartner img {
    width: 200px;
  }

  .partnerBeranda .cardPartner1 .cardPartnerContainer {
    border-radius: 0 20px 20px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
}

.nav-menu.active {
  animation: slideIn 0.6s ease-in-out forwards;
}

@keyframes slideFromBottom {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 50%;
  }

  .header {
    width: 100%;
    background-color: #0ca532;
    position: relative;
  }

  .beranda {
    height: 50%;
  }

  .beranda img{
    height: auto;
  }

  .beranda h2 {
    font-size: 2.8rem;
    margin-top: 5rem;
  }

  .beranda .buttonBeranda {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }

  .carousel-slide {
    height: 250px;
  }

  .slick-prev {
    left: 0.5rem !important;
  }

  .slick-next {
    right: 1rem !important;
  }

  .about {
    position: relative;
    padding: 0 1rem;
  }

  .about h3 {
    font-size: 1rem;
  }

  .container {
    padding: 2rem auto;
    gap: 1rem;
  }

  .container img {
    width: 10px;
  }

  .container .imageContainer {
    width: 80%;
  }

  .contact {
    padding-top: 3rem;
  }

  iframe {
    width: 100%;
    border: none;
    height: 500px;
    padding: 1rem;
  }

  footer {
    padding: 1rem;
  }

  footer .footerAll {
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 0;
    padding-bottom: 4rem;
    justify-content: start;
  }

  footer .sosialMedia {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
  }

  /* Development */

  .appDevelopment .developmentBeranda {
    margin-top: 0rem;
  }
  .appDevelopment .developmentBeranda h1 {
    font-size: 2rem;
    padding: 5rem 0;
  }

  /* Modal */
  .modal-overlay{
    padding-top: 32rem;
    padding-bottom: 0;

  } 

  .modal-content {
    margin-top: 0;
    margin-bottom: 0;
  }

  .modal-content img {
    height: 300px;
  }

  .modal-content .logo {
    width: 200px;
    top: 12rem;
  }

  .modal-content .deskripsi {
    padding: 5rem 1rem 0;
  }

  /* slider */
  .slider{
    margin: 20px 0;
  }

  .slider img{
    width: 90%;
  }

  /* Constractor */
  .contractorBeranda{
    margin: 0;
  }

  .appContractor h1{
    font-size: 2rem;
  }

  /* Partner */
  .partnerBeranda h1 {
    padding: 3rem 0 1rem;
  }

  .partnerBeranda .logoEdge {
    width: 120px;
    margin-top: -4rem;
  }

  .partnerBeranda .cardAll {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
  }

  .partnerBeranda .cardPartner {
    gap: 1rem;
  }

  .partnerBeranda .cardPartner1 {
    gap: 1rem;
  }

  .partnerBeranda .cardPartnerContainer {
    width: 20rem;
    border-radius: 20px;
    height: 10rem;
  }

  .partnerBeranda .cardPartner img {
    width: 150px;
    margin-left: 1rem;
  }

  .partnerBeranda h2 {
    font-size: 0.8rem;
  }

  .partnerBeranda .cardPartner1 {
    margin-top: 1rem;
  }

  .partnerBeranda .cardPartner1 .cardPartnerContainer {
    border-radius: 20px;
  }

  .partnerBeranda .cardPartner1 img {
    width: 100px;
  }
}
